#GITIGNORE for MyCreativelyUncreativeBrain

/MyCreativelyUncreativeBrain/.metadata
/MyCreativelyUncreativeBrain/bin/
/MyCreativelyUncreativeBrain/conf/
/MyCreativelyUncreativeBrain/docs/
/MyCreativelyUncreativeBrain/eclipse/
/MyCreativelyUncreativeBrain/forge/
/MyCreativelyUncreativeBrain/jars/
/MyCreativelyUncreativeBrain/lib/
/MyCreativelyUncreativeBrain/logs/
/MyCreativelyUncreativeBrain/reobf/
/MyCreativelyUncreativeBrain/runtime/
/MyCreativelyUncreativeBrain/temp/
/MyCreativelyUncreativeBrain/CHANGELOG
/MyCreativelyUncreativeBrain/LICENSE.txt


*.bat
*.sh
*.zip
*.cfg

/MyCreativelyUncreativeBrain/src/minecraft/cpw/
/MyCreativelyUncreativeBrain/src/minecraft/ibxm/
/MyCreativelyUncreativeBrain/src/minecraft/paulscode/
/MyCreativelyUncreativeBrain/src/minecraft/net/
/MyCreativelyUncreativeBrain/src/minecraft/resources/
/MyCreativelyUncreativeBrain/src/minecraft/fmlversion.properties
/MyCreativelyUncreativeBrain/src/minecraft/forge_logo.png
/MyCreativelyUncreativeBrain/src/minecraft/mcp.png
/MyCreativelyUncreativeBrain/src/minecraft/mcpmod.info
/MyCreativelyUncreativeBrain/src/minecraft/Start.java
/MyCreativelyUncreativeBrain/src/minecraft/deobfuscation_data-1.6.4.lzma