#GITIGNORE for Scribblenauts

/Scribblenauts/.metadata
/Scribblenauts/bin/
/Scribblenauts/conf/
/Scribblenauts/docs/
/Scribblenauts/eclipse/
/Scribblenauts/forge/
/Scribblenauts/jars/
/Scribblenauts/lib/
/Scribblenauts/logs/
/Scribblenauts/reobf/
/Scribblenauts/runtime/
/Scribblenauts/temp/
/Scribblenauts/CHANGELOG
/Scribblenauts/LICENSE.txt


*.bat
*.sh
*.zip
*.cfg

/Scribblenauts/src/minecraft/cpw/
/Scribblenauts/src/minecraft/ibxm/
/Scribblenauts/src/minecraft/paulscode/
/Scribblenauts/src/minecraft/net/
/Scribblenauts/src/minecraft/resources/
/Scribblenauts/src/minecraft/fmlversion.properties
/Scribblenauts/src/minecraft/forge_logo.png
/Scribblenauts/src/minecraft/mcp.png
/Scribblenauts/src/minecraft/mcpmod.info
/Scribblenauts/src/minecraft/Start.java
/Scribblenauts/src/minecraft/deobfuscation_data-1.6.2.lzma